<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button routerLink="/" class="btn btn-link">On Main</button>
    </div>
    <div class="info">
        <strong>Author here</strong>
        <small>22.01.2020</small>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque excepturi odit qui recusandae ullam.
            Doloremque eius fuga necessitatibus officiis repudiandae sed sequi unde! Beatae dolore dolores enim eos
            iusto, minus praesentium quisquam ratione repellendus reprehenderit! Accusamus alias architecto dignissimos
            distinctio eveniet expedita facilis ipsa laboriosam libero obcaecati quibusdam, sequi?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque excepturi odit qui recusandae ullam.
            Doloremque eius fuga necessitatibus officiis repudiandae sed sequi unde! Beatae dolore dolores enim eos
            iusto, minus praesentium quisquam ratione repellendus reprehenderit! Accusamus alias architecto dignissimos
            distinctio eveniet expedita facilis ipsa laboriosam libero obcaecati quibusdam, sequi?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque excepturi odit qui recusandae ullam.
            Doloremque eius fuga necessitatibus officiis repudiandae sed sequi unde! Beatae dolore dolores enim eos
            iusto, minus praesentium quisquam ratione repellendus reprehenderit! Accusamus alias architecto dignissimos
            distinctio eveniet expedita facilis ipsa laboriosam libero obcaecati quibusdam, sequi?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A cumque excepturi odit qui recusandae ullam.
            Doloremque eius fuga necessitatibus officiis repudiandae sed sequi unde! Beatae dolore dolores enim eos
            iusto, minus praesentium quisquam ratione repellendus reprehenderit! Accusamus alias architecto dignissimos
            distinctio eveniet expedita facilis ipsa laboriosam libero obcaecati quibusdam, sequi?</p>

    </div>
</div>
